*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: #fff;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
.blue{
    background: blue;
    height: 120vh;
    border-radius: 100px;
    transform: rotate(-30deg);
    position: absolute;
    top: -390px;
    left: -100px;
    bottom: 0;
    right: 0;
    z-index: 2;
}
h1 {
    z-index:3;
    position: relative;
    color: #fff;
    font-family: sans-serif;
    padding: 50px 20px;
  }